{% extends 'base.html' %}

<!doctype html>
{% block header %}
<h1 size="10" align="center">Order Manager</h1>
{% endblock %}
{% block content %}
<table cellspacing="10" style="background-color:gray;">
	<tr>
		<td><h1 size="8" style="color:black;background-color:grey;">{% block title %}List of Orders{% endblock %}</h1><td>
		<td><button onclick="window.location.href='/5/addorder'">Add a new Order</button></td>
	</tr>
</table>

<table>
	<tr>
		<td>
		<article class="List of Orders">
			<div>
				<table>
				{% for o in table4 %}
						<tr>
							<td style="border:blue; border-width:6px; border-style:outset;">
								<font size="5">Table {{ o.custID }}<button onclick="window.location.href='/{{ o.custID }}/editorder'">Edit Order</button><button onclick="window.location.href='/{{ o.custID }}/deleteorder'">Delete Order</button></font>
								<p size="3">Order Description: {{ o.comments }}</p>
							<td>
							{% if orders[loop.index]['completed'] != 1 %}
							<td style="background-color:orange;border:blue; border-width:6px; border-style:outset;"><h1 size="8">In Progress</h1></td>
							{% else %}
							<td style="background-color:green;border:blue; border-width:6px; border-style:outset;"><h1 style="color:white" size="8">Completed</h1></td>
							{% endif %}
						</tr>
					{% if not loop.last %}
						<hr>
					{% endif %}
				{% endfor %}
				</table>
			</div>
		</article>
		</td>
		<td style="border:black; border-width:4px; border-style:outset;">
			<h1 size="8" style="background-color:yellow">Refill Requests</h1>
			<article class="Refill Request">
				<table>
					{% for r in table2 %}
						<tr>
							<td>
								<font size="2" style="border:blue; border-width:1px; border-style:outset;"> Table {{ r['tablenumber'] }} - {{ r['itemName'] }} </font>
							</td>
							<td><button onclick="window.location.href='/{{ r.iid }}/requestfulfilled'">Request Fulfilled</button></td>
						</tr>
						{% if not loop.last %}
							<hr>
						{% endif %}
					{% endfor %}
				</table>
			</article>
		</td>
		<td>
			<h1>Help Needed</h1>
			<table>
				{% for h in table3 %}
				<tr>
					<td>
						<font size="2" style="border:blue; border-width:1px; border-style:outset;"> Tablenumber: {{ h['tablenumber'] }}</font>
						<button onclick="window.location.href='/{{ h.id }}/helpcomplete'">Complete</button>
					</td>
				<tr>
					{% if not loop.last %}
						<hr>
					{% endif %}
				{% endfor %}
			<table>
		</td>
	</tr>
</table>
{% endblock %}
