{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Checkout{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('customer.index') }}">Return To Menu</a>
    {% if hasItems %}
    <a class="action" href="{{ url_for('customer.complete') }}">Complete Order</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
{% for item in order %}
    <article class="Menu">
      <header>
        <div>
          <h1>{{ item['itemName'] }}</h1>
          <p>Comments: {{ item['comments'] }}</p>
          <div class="about">Price ${{ item['price'] }} </div>
        </div>
        <form method="post">
          {% if item['comments'] %}
        <label for="comments">Edit Comments</label>
          {% else %}
          <label for="comments">Add Comments</label>
          {% endif %}
        <input type="text" id="comments"  name="comments" min="0"  align="right" size="16" style="width: 300px;float: left;">
          {% if item['comments'] %}
          <input type="submit"  value="Edit Comments" size="100">
          {% else %}
          <input type="submit"  value="Add Comments" size="100">
          {% endif %}
          <input type="hidden" name="rowid" value="{{ item['ROWID'] }}">
        </form>
        <button type="button" onclick="window.location.href='{{ url_for( 'customer.remove' , id=item['iid'] ) }}';">Remove Item</button>
      </header>
      <p class="body">{{ order['itemName'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
{% endfor  %}

<h1 align="right">Current Total: ${{ "%.2f"|format(total) }} </h1>
{% endblock %}

