{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Menu{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('customer.games') }}">Games</a>
    <a class="action" href="{{ url_for('customer.help', id=uid) }}">Request Help</a>
    <a class="action" href="{{ url_for('customer.refill', id=uid) }}">Request Refill</a>
    <a class="action" href="{{ url_for('customer.checkout') }}">View Order</a>
  {% endif %}
{% endblock %}



{% block content %}

<a class="action" href="{{ url_for('customer.index') }}" >| App  |   </a>
<a class="action" href="{{ url_for('customer.entree') }}" > Entree  |   </a>
<a class="action" href="{{ url_for('customer.desserts') }}" > Desserts  |   </a>
<a class="action" href="{{ url_for('customer.drinks') }}" > Drinks  |   </a>



{% for item in table %}
    {% if item['type'] == 'dessert' %}
    <article class="Menu">
      <header>
        <div>
          <img align="right" src={{ item['link'] }} style="width:150px;height:150px;">
          <h1>{{ item['itemName'] }}</h1>
          <div class="about">${{ item['price'] }} </div>
        </div>
      </header>
      <p class="body">{{ item['description'] }}</p>
      <button type="button" onclick="window.location.href='{{ url_for( 'customer.addItem' , id=item['iid'] ) }}';">Add Item</button>

        {% if not loop.last %}
      <hr>
    {% endif %}

    </article>
    {% endif %}

{% endfor  %}
{% endblock %}
