{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Receipt{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('customer.index') }}">Return To Menu</a>
  {% endif %}
{% endblock %}



{% block content %}
{% for item in order %}
        <p>{{ item['itemName'] }} ${{ item['price'] }}</p>
    {% if not loop.last %}
      <hr>
    {% endif %}
{% endfor  %}

<h2 align="right">Tip:$ {{ "%.2f"|format(tip) }}</h2>
<h1 align="right">Total: ${{ "%.2f"|format(total) }} </h1>
<h1 align="right">Time Placed: {{ hour }}:{{ min }} {{ampm}}</h1>

{% if win %}
<p id="dessert"></p>

<script>
function freeDessert() {
  var txt;
  var person = prompt("You've Won a FREE dessert! Enter email to claim:", "Email");
  if (person == null || person == "") {
    txt = "User cancelled the prompt.";
  } else {
    txt = "Free Dessert Code sent to: " + person + " Enjoy!";
  }
  document.getElementById("dessert").innerHTML = txt;
}
freeDessert()
</script>
<body onload="javascript::freeDessert()"></body>

{% endif %}


{% endblock %}


